<!DOCTYPE HTML>
<html>

<head>
    <title>Welcome to rdash</title>
    <meta charset="UTF-8">
    <!--Set viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% var i = 0;
    for (var chunk in htmlWebpackPlugin.files.css) { %>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[chunk] %>"></link>
    <% } %>
</head>

<body ng-app="rdashApp">
<div class="container-fuild" ng-controller="MainCtrl as vm">
    <rdash-sidebar toggle="{{vm.toggle}}" navigation="vm.navigation"></rdash-sidebar>
    <rdash-body>
        <rdash-headerbar config="vm.navigation" username="{{vm.username}}"></rdash-headerbar>
        <ui-view></ui-view>
    </rdash-body>
</div>

</body>
<% var i = 0;
for (var chunk in htmlWebpackPlugin.files.js) { %>
<script src="<%= htmlWebpackPlugin.files.js[chunk] %>"></script>
<% } %>
</html>

